.idea
*.iml
.gradle
/.idea
/.idea/workspace.xml
/.idea/libraries
target
.DS_Store
/captures
.externalNativeBuild
out
gen
/.apt_generated/
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/README.md
/user-profile-analysis.iml