<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.treehole.archives.dao.ArchivesResultMapper">
    <select id="findAll" resultType="com.treehole.framework.domain.evaluation.Result"
            parameterType="com.treehole.framework.domain.archives.resquest.ResultListRequest">
        select * from result
        <where>
            <if test="userId != null and userId != '' ">
                and userId = #{userId}
            </if>
            <if test="scaleName != null and scaleName != ''">
                and scaleName = #{scaleName}
            </if>
        </where>
    </select>
    <select id="findResultById" parameterType="java.lang.String"
            resultType="com.treehole.framework.domain.archives.ext.ResultBase">
        select * from result where id = #{id}
    </select>
    <select id="findArchivesListByUserId" parameterType="java.lang.String"
            resultType="com.treehole.framework.domain.archives.ext.ArchivesList">
        SELECT
        COUNT(id) answerCount,scaleName,userId,MAX(createTime) lateFinishDate
        FROM
          result
        WHERE userId = #{userId}
        GROUP BY scaleName
        ORDER BY lateFinishDate DESC
    </select>
    <select id="finArchivesByUserIdAndScaleName"
            parameterType="com.treehole.framework.domain.archives.resquest.ArchivesListRequest"
            resultType="com.treehole.framework.domain.archives.ext.ResultTiny">
        SELECT
        *
        FROM
          result
        WHERE userId = #{userId}
        AND scaleName = #{scaleName}
        ORDER BY createTime
    </select>
    <select id="queryResultByUserId"
            parameterType="java.lang.String"
            resultType="java.lang.Integer">
        SELECT
          COUNT(id)
        FROM
          result
        WHERE userId = #{userId}
    </select>
</mapper>