<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treehole.train.dao.ClassMapper">

    <!--查询所有班级信息-->
    <select id="findAllClass"
            resultType="com.treehole.framework.domain.train.Class">
            SELECT * from class
    </select>

    <!--模糊查询班级信息-->
    <select id="findClassByFuzzyQuery"
            parameterType="com.treehole.framework.domain.train.Class"
            resultType="com.treehole.framework.domain.train.ext.ClassHeadmaster">
            SELECT
            c.*,
            t.`teacher_name`,
            p.phase_name
            FROM class c
            LEFT JOIN teacher t
            ON c.`class_headmaster` = t.`teacher_id`
            LEFT JOIN phase p
            ON c.class_phase = p.phase_id
            <where>
                <if test="classId !=null and classId !='' ">
                   and c.`class_id` = #{classId}
                </if>

                <if test=" className !=null and className !='' ">
                    AND c.`class_name` LIKE '%${className}%'
                </if>

                <if test=" classGraduation !=null and classGraduation !='' ">
                    AND c.`class_graduation` = #{classGraduation}
                </if>

                <if test=" classPhase !=null and classPhase !='' ">
                    AND c.`class_phase` = #{classPhase}
                </if>
            </where>
    </select>


    <!--班级课程统计-->
    <select id="findClassCourse"
            resultType="com.treehole.framework.domain.train.ext.CourseTeacher"
            parameterType="com.treehole.framework.domain.train.ext.StudentCourseParams">
        SELECT *
        FROM (
            SELECT
            co.*,
            t.`teacher_Id`,
            t.`teacher_name`,
            ct.`course_type_name`
            FROM `class_course` cc
            LEFT JOIN teacher_course tc
            ON cc.`class_course_id` = tc.`class_course_id`
            LEFT JOIN teacher t
            ON tc.`teacher_id` = t.`teacher_id`
            LEFT JOIN course co
            ON cc.`course_id` = co.`course_id`
            LEFT JOIN course_type ct
            ON co.`course_type` = ct.`course_type_id`
            WHERE cc.`class_id`=#{classId}
            AND tc.`state` = 1
            union
            SELECT
            co.*,
            t.`teacher_Id`,
            t.`teacher_name`,
            ct.`course_type_name`
            FROM `class_course` cc
            LEFT JOIN teacher_course tc
            ON cc.`class_course_id` = tc.`class_course_id`
            LEFT JOIN teacher t
            ON tc.`teacher_id` = t.`teacher_id`
            LEFT JOIN course co
            ON cc.`course_id` = co.`course_id`
            LEFT JOIN course_type ct
            ON co.`course_type` = ct.`course_type_id`
            WHERE cc.`class_id`=#{classId}
            AND tc.state is null
        ) c
        <where>
            <if test=" courseId !=null and courseId !='' ">
                AND c.`course_id` = #{courseId}
            </if>
            <if test=" courseName !=null and courseName !='' ">
                AND c.`course_name` LIKE '%${courseName}%'
            </if>
            <if test=" courseType !=null and courseType !='' ">
                AND c.`course_type` = #{courseType}
            </if>
            <if test=" courseTeacher !=null and courseTeacher !='' ">
                AND c.`teacher_id` = #{courseTeacher}
            </if>
        </where>
    </select>





    <!--班级学生统计-->
    <select id="findClassStudent"
            resultType="com.treehole.framework.domain.train.Student"
            parameterType="com.treehole.framework.domain.train.ext.StudentExt">

        SELECT *
        FROM (
            SELECT
            s.*
            FROM student s
            LEFT JOIN class c
            ON s.`student_class` = c.`class_id`
            WHERE c.`class_id`=#{classId}
        ) s
        <where>
            <if test=" studentId !=null and studentId !='' "  >
                AND s.`student_id`=#{studentId}
            </if>
            <if test=" studentName !=null and studentName !='' ">
                AND s.`student_name` like '%${studentName}%'
            </if>
            <if test=" studentGender !=null and studentGender !='' ">
                AND s.`student_gender`=#{studentGender}
            </if>
            <if test=" studentState !=null and studentState !='' ">
                AND s.`student_state`=#{studentState}
            </if>

            <if test=" studentPhase !=null and studentPhase !='' ">
                AND s.`student_phase`=#{studentPhase}
            </if>
            <if test=" studentGraduation !=null and studentGraduation !='' ">
                AND s.`student_graduation`=#{studentGraduation}
            </if>
            <if test=" studentArrears !=null and studentArrears !='' ">
                AND s.`student_arrears`=#{studentArrears}
            </if>
        </where>
    </select>


    <!--班级老师统计-->
    <select id="findClassTeacher"
            parameterType="com.treehole.framework.domain.train.ext.TeacherExt"
            resultType="com.treehole.framework.domain.train.Teacher">

        SELECT *
        FROM (
            SELECT t.*
            FROM class c
            LEFT JOIN teacher t
            ON c.`class_headmaster` = t.`teacher_id`
            WHERE c.`class_id`= #{classId}
            UNION
            SELECT t.*
            FROM `class_course` cc
            LEFT JOIN teacher_course tc
            ON cc.`class_course_id` = tc.`class_course_id`
            LEFT JOIN teacher t
            ON tc.`teacher_id` = t.`teacher_id`
            WHERE cc.`class_id`=#{classId}
            AND tc.`state` = 1
        ) t
        <where>
            <if test="teacherId !=null and teacherId !='' ">
                AND t.`teacher_id` = #{teacherId}
            </if>
            <if test="teacherName !=null and teacherName !='' ">
                AND t.`teacher_name` LIKE '%${teacherName}%'
            </if>
            <if test=" teacherGender !=null and teacherGender !='' ">
                AND t.`teacher_gender` = #{teacherGender}
            </if>
            <if test=" teacherState !=null and teacherState !='' ">
                AND t.`teacher_state` = #{teacherState}
            </if>
            <if test=" teacherType !=null and teacherType !='' ">
                AND t.`teacher_type` = #{teacherType}
            </if>
        </where>
    </select>
</mapper>