<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treehole.train.dao.ClassCourseMapper">

    <!--查询需要进行选择的课程-->
    <select id="findCourseToBeSelect"
            parameterType="com.treehole.framework.domain.train.ext.SelectCourses"
            resultType="com.treehole.framework.domain.train.ext.CourseTeacher">
        SELECT *
        FROM(
            SELECT *
            FROM course c
            LEFT JOIN teacher t
            ON c.`course_teacher` = t.`teacher_id`
            LEFT JOIN course_type ct
            ON c.`course_type` = ct.`course_type_id`
            WHERE
            c.`course_id` NOT IN
                <foreach  collection="courseList" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            ) s
        <where>
            <if test=" courseId != null and courseId != '' ">
                AND s.`course_id` = #{courseId}
            </if>
            <if test=" courseName != null and courseName != '' ">
                AND s.`course_name` LIKE '%${courseName}%'
            </if>
            <if test=" courseType != null and courseType != '' ">
                AND s.`course_type` = #{courseType}
            </if>
            <if test=" courseTeacher != null and courseTeacher != '' ">
                AND s.`course_teacher` = #{courseTeacher}
            </if>
        </where>
    </select>


</mapper>