<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treehole.train.dao.CourseMapper">

    <!--查询学所有学生-->
    <select id="findAllCourse"
            resultType="com.treehole.framework.domain.train.Course">
            SELECT * from course
    </select>

    <!--模糊查询-->
    <select id="findCourseByFuzzyQuery"
            parameterType="com.treehole.framework.domain.train.Course"
            resultType="com.treehole.framework.domain.train.Course">

        select * from course
        <where>
            <if test=" courseId != null and courseId !='' ">
                and course_id = #{courseId}
            </if>

            <if test=" courseName != null and courseName !='' ">
                and course_name = like concat('%',#{courseName}, '%')
            </if>
            <if test=" courseType != null and courseType !='' ">
                and course_type = #{courseType}
            </if>
            <if test=" courseBeginTime != null and courseBeginTime !='' ">
                and course_begin_time = #{courseBeginTime}
            </if>
            <if test=" courseEndTime != null and courseEndTime !='' ">
                and course_end_time = #{courseEndTime}
            </if>
            <if test=" courseTime != null and courseTime !='' ">
                and course_time = #{courseTime}
            </if>
            <if test=" courseTeacher != null and courseTeacher !='' ">
                and course_teacher = #{courseTeacher}
            </if>
        </where>
    </select>

</mapper>