<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treehole.train.dao.PhaseMapper">

    <!--查询期数-->
    <select id="findPhase"
            parameterType="com.treehole.framework.domain.train.Phase"
            resultType="com.treehole.framework.domain.train.Phase">
                   SELECT *
                   FROM phase p
                    <where>
                       <if test="phaseId !=null and phaseId !='' ">
                           AND p.`phase_id` = #{phaseId}
                        </if>
                        <if test="phaseName !=null and phaseName !='' ">
                           AND p.`phase_name` = '%${phaseName}%'
                        </if>

                    </where>
    </select>


    <!--查询期数课程-->
    <select id="findPhaseCourse"
            parameterType="com.treehole.framework.domain.train.ext.CourseExt"
            resultType="com.treehole.framework.domain.train.ext.CourseTeacher">
            SELECT *
            FROM(
                    SELECT
                    co.*,
                    ct.`course_type_name`
                    FROM phase_course pc
                    LEFT JOIN phase p
                    ON pc.`phase_id` = p.`phase_id`
                    LEFT JOIN course co
                    ON pc.`course_id` = co.`course_id`
                    LEFT JOIN `course_type` ct
                    ON co.`course_type` = ct.`course_type_id`
                    WHERE p.`phase_id` = #{phaseId}
            ) n
            <where>
                    <if test=" courseId != null and courseId != '' ">
                        AND n.course_id = #{courseId}
                    </if>
                    <if test=" courseName != null and courseName != '' ">
                        AND n.course_name LIKE '%${courseName}%'
                    </if>
                    <if test=" courseType != null and courseType != '' ">
                        AND n.course_type = #{courseType}
                    </if>
            </where>
    </select>
</mapper>