<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treehole.train.dao.TeacherMapper">
    <!--查询学所有学生-->
    <select id="findAllTeacher"
            resultType="com.treehole.framework.domain.train.Teacher">
       select * from teacher

    </select>

    <!--模糊学所有老师-->
    <select id="findTeacherByFuzzyQuery"
            resultType="com.treehole.framework.domain.train.Teacher">
        SELECT *
        FROM teacher t
        <where>
           <if test="teacherId !=null and teacherId !='' ">
               AND t.`teacher_id` = #{teacherId}
           </if>
            <if test="teacherName !=null and teacherName !='' ">
                AND t.`teacher_name` LIKE '%${teacherName}%'
            </if>
            <if test=" teacherGender !=null and teacherGender !='' ">
                AND t.`teacher_gender` = #{teacherGender}
            </if>
            <if test=" teacherState !=null and teacherState !='' ">
                AND t.`teacher_state` = #{teacherState}
            </if>
            <if test=" teacherType !=null and teacherType !='' ">
                AND t.`teacher_type` = #{teacherType}
            </if>
        </where>
    </select>

</mapper>